/* wrapper */
.wrapper {
  padding-bottom: 60px;
}

/* header */
.header {
  margin-bottom: 54px;
}

/* gnb */
.gnb {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  margin-bottom: 6px;
}

.gnb .left,
.gnb .right {
  display: flex;
  gap: 7px;
  position: relative;
  z-index: 10;
}

.gnb .left {
  margin-left: -10px;
}

.gnb .right {
  margin-right: -10px;
}

.gnb .btn-hamburger,
.gnb .btn-ntalk,
.gnb .btn-notify {
  position: relative;
  padding: 10px;
  width: 46px;
  height: 46px;
}

.gnb .btn-npay {
  position: relative;
  padding: 7px;
  margin-right: auto;
  width: 46px;
  height: 46px;
}

.gnb .btn-hamburger::before,
.gnb .btn-npay::before,
.gnb .btn-ntalk::before,
.gnb .btn-notify::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f5f7f8;
  z-index: -1;
}

.gnb .btn-hamburger:hover::before,
.gnb .btn-npay:hover::before,
.gnb .btn-ntalk:hover::before,
.gnb .btn-notify:hover::before {
  display: block;
}

.gnb .btn-hamburger::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -314px -330px;
  background-repeat: no-repeat;
}

.gnb .btn-npay::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -295px -177px;
  background-repeat: no-repeat;
}

.gnb .btn-ntalk::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -364px -81px;
  background-repeat: no-repeat;
}

.gnb .btn-notify::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -364px -27px;
  background-repeat: no-repeat;
}

/* search-area */
.search-area {
  position: relative;
  margin-bottom: 10px;
}

.seasonal-cover {
  position: absolute;
  transform: scale(0.5) translateX(-50%);
  transform-origin: left top;
  top: -58px;
  left: 50%;
  margin-left: -220px;
}

.search-form {
  width: 706px;
  height: 58px;
  margin: 0 auto;
  border-radius: 33px;
  border: 1px solid #d87f56;
  padding-left: 28px;
  position: relative;
  display: flex;
}

.search-form:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.search-input {
  border: 0;
  outline: none;
  padding: 17px 0;
  font-size: 2rem;
  width: 100%;
  font-weight: bold;
  flex: 1;
}

.search-input::placeholder {
  color: transparent;
  font-weight: normal;
}

.search-input:focus::placeholder {
  color: #e4e4e4;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-box .virtual-keypad {
  padding: 22px 3px;
}

.search-box .virtual-keypad::after {
  content: "";
  display: block;
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -199px -254px;
  background-repeat: no-repeat;
  width: 24px;
  height: 14px;
}

.search-box .virtual-keypad:hover::after {
  background-position: -270px -234px;
}

.search-box .autocomplete-tool {
  padding: 26px 6px;
}

.search-box .autocomplete-tool::after {
  content: "";
  display: block;
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -102px -272px;
  background-repeat: no-repeat;
  width: 10px;
  height: 6px;
}

.search-box .btn-search {
  padding: 17px 27px 16px 10px;
}

.search-box .btn-search svg {
  width: 25px;
  height: 25px;
}

/* quick-tools */
.quick-tools {
  width: 676px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.quick-tools > ul {
  display: flex;
  justify-content: center;
}

.quick-tools > ul > li > a {
  display: block;
  width: 61px;
  text-align: center;
}

.quick-tools > ul > li > a::before {
  content: "";
  display: block;
}

.quick-tools > ul > li > a .tools-icon {
  display: block;
  width: 44px;
  height: 44px;
  margin: 0 auto 13px auto;
  position: relative;
}

.quick-tools > ul > li > a .tools-icon::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -5px;
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: 0px -128px;
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  z-index: -1;
}

.quick-tools > ul > li:hover > a .tools-icon::before {
  background-position: -144px -1px;
}

.quick-tools > ul > li > a .tools-name {
  color: #101010;
}

.quick-tools .tools-icon.email {
  display: block;
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -250px -88px;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}

.quick-tools .tools-icon.cafe {
  display: block;
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -250px 2px;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}

.quick-tools .tools-icon.blog {
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -201px -96px;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}

.quick-tools .tools-icon.shopping {
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -90px -207px;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}

.quick-tools .tools-icon.news {
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: 0px -207px;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}

.quick-tools .tools-icon.stock {
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -180px -207px;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}

.quick-tools .tools-icon.real-estate {
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -45px -207px;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}

.quick-tools .tools-icon.map {
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -205px 2px;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}

.quick-tools .tools-icon.webtoon {
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -225px -207px;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}

.quick-tools .tools-icon.chzzk {
  background-image: url("../images/logo_chzzk.png");
  background-size: 44px 44px;
  background-position: center 2px;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}

.quick-tools .tools-icon.more::after {
  content: "";
  display: block;
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -250px -133px;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}

/* contents */
.contents > .container {
  display: flex;
}

.contents > .container > .left {
  width: 830px;
}

.contents > .container > .right {
  border: 1px solid;
  width: 420px;
  margin-left: 30px;
}

.timeboard {
  margin-bottom: 16px;
}

.timeboard a {
  display: block;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--color_border);
}

.timeboard a img {
  display: block;
  width: 100%;
  aspect-ratio: 830 / 130;
}

/* news-stand */
.news-stand {
  padding-top: 18px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid var(--color_border);
}

.news-stand-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px 18px 20px;
}

.news-stand-tab {
  display: flex;
  font-size: 1.6rem;
  line-height: 23px;
  font-weight: 800;
  color: rgba(8, 8, 8, 0.5);
}

.news-stand-tab a {
  margin-left: 26px;
  position: relative;
}

.news-stand-tab a:hover {
  text-decoration: underline;
}

.news-stand-tab a::after {
  content: "";
  display: block;
  width: 1px;
  height: 15px;
  background-color: #d3d5d7;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -13px;
  transform: translate(50%, -50%) skew(-15deg);
}

.news-stand-tab a:first-child {
  margin-left: 0;
}

.news-stand-tab a:first-child::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #d3d5d7;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -13px;
  transform: translateY(-50%);
}

.news-stand-tab a:last-child::after {
  display: none;
}

.news-stand-tab .active {
  color: #080808;
}

.live-badge {
  background-color: #f4361e;
  display: inline-block;
  margin-top: 2px;
  padding: 0 5px 0 4px;
  border-radius: 9px;
  font-size: 1.1rem;
  line-height: 18px;
  font-weight: 900;
  vertical-align: top;
  color: #fff;
  text-transform: uppercase;
}

.live-badge::before {
  content: "";
  display: inline-block;
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -335px -319px;
  background-repeat: no-repeat;
  width: 14px;
  height: 10px;
  margin: 4px 3px 0 0;
  vertical-align: top;
}

.edge-banner {
  display: block;
  width: 149px;
  height: 19px;
}

.edge-banner img {
  width: 100%;
  height: 100%;
}

.rolling-news {
  margin: 0 20px 18px 20px;
  background-color: #f5f7f8;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 20px;
  border-radius: 4px;
  line-height: 26px;
}

.rolling-news-filter {
  font-size: 1.4rem;
  color: #404040;
  vertical-align: top;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 25px;
  flex-shrink: 0;
}

.rolling-news-filter:hover {
  text-decoration: underline;
}

.rolling-news-filter::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 12px;
  background-color: #d3d5d7;
  width: 1px;
  height: 12px;
  margin-top: -6px;
}

.rolling-news-filter::after {
  content: "";
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -123px -272px;
  background-repeat: no-repeat;
  width: 9px;
  height: 6px;
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}

.rolling-slider {
  width: 100%;
}

.rolling-slider .rolling-slide-item {
  display: flex;
}

.rolling-slider .rolling-slide-item a:hover {
  text-decoration: underline;
}

.rolling-slider .rolling-slide-item .news-media {
  position: relative;
}

.rolling-slider .rolling-slide-item .news-media::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #d3d5d7;
  margin: 12px 6px 0 6px;
  border-radius: 50%;
  vertical-align: top;
}

.rolling-slider .rolling-slide-item .news-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 400px;
}

.news-flash {
  font-style: normal;
  width: 42px;
  height: 26px;
  border: 1px solid rgba(244, 54, 30, 0.5);
  color: #f4361e;
  display: inline-block;
  margin: 0 8px 0 2px;
  border-radius: 15px;
  background-color: #fff;
  font-size: 1.2rem;
  line-height: 26px;
  font-weight: 800;
  vertical-align: top;
  text-align: center;
}

.news-quick-link {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 20px;
}

.news-quick-link li a {
  display: block;
  position: relative;
}

.news-quick-link li:first-child a::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -10px;
  background-color: #d3d5d7;
  width: 1px;
  height: 12px;
  margin-top: -6px;
}

.news-media-group {
  margin: 0 20px 18px 20px;
}

.media-list {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
  border-style: hidden;
  box-shadow: 0 0 0 1px var(--color_border);
  overflow: hidden;
}

.media-list .media-list-row {
  display: table-row;
}

.media-list .media-list-row .media-item {
  display: table-cell;
  width: 16.66%;
  height: 56px;
  border: 1px solid var(--color_border);
  position: relative;
}

.media-list .media-list-row .media-item .media-logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-list .media-list-row .media-item .media-logo img {
  height: 20px;
}

.media-list .media-list-row .media-item .media-option {
  background: #2868f2;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.media-list .media-list-row .media-item:hover .media-logo {
  display: none;
}

.media-list .media-list-row .media-item:hover .media-option {
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-list .media-list-row .media-item:hover .media-option button,
.media-list .media-list-row .media-item:hover .media-option a {
  font-size: 1.3rem;
  color: #fff;
}

.media-list .media-list-row .media-item .media-option button:hover,
.media-list .media-list-row .media-item .media-option a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.media-list .media-list-row .media-item:hover .media-option button {
  position: relative;
  margin-right: 20px;
}

.media-list .media-list-row .media-item .media-option button::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -10px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 1px;
  height: 12px;
  margin-top: -6px;
}

.paging-footer {
  border-top: 1px solid var(--color_border);
  padding: 10px 0 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.paging-footer-pager {
  display: flex;
  align-items: center;
}

.paging-footer-pager .btn-pager {
  width: 36px;
  height: 36px;
  border: 1px solid #dadcdf;
  background-color: #fff;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
}

.paging-footer-pager .btn-pager.prev::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -432px -246px;
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  margin: auto;
  transform: rotate(180deg);
}

.paging-footer-pager .btn-pager.next::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -432px -246px;
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  margin: auto;
}

.pager-nav {
  color: #606060;
  font-size: 1.3rem;
  line-height: 35px;
  font-weight: 600;
  display: flex;
  min-width: 156px;
  padding: 0 16px;
  font-weight: 600;
  justify-content: center;
}

.pager-nav .category-text {
  color: #3a67ea;
}

.pager-nav .more-text {
  margin: 0 5px;
}

.pager-nav .total-page {
  color: rgba(96, 96, 96, 0.5);
}
/* color: rgba(96, 96, 96, .5);
color: #606060;
color: #3a67ea; */

.news-stand-footer .view-type {
  position: absolute;
  top: 0;
  right: 20px;
}

.news-stand-footer .view-type button {
  width: 40px;
  height: 40px;
  padding: 20px;
}

.news-stand-footer .view-type .view-type-list::before {
  content: "";
  display: block;
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -391px -204px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.news-stand-footer .view-type .view-type-list:hover::before,
.news-stand-footer .view-type .view-type-list.active::before {
  background-position: -391px -183px;
}

.news-stand-footer .view-type .view-type-block::before {
  content: "";
  display: block;
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -118px -90px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.news-stand-footer .view-type .view-type-block:hover::before,
.news-stand-footer .view-type .view-type-block.active::before {
  background-position: -197px -299px;
}

/* shopping */
.shopping {
  padding-top: 18px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid var(--color_border);
}

.shopping .shopping-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px 16px 20px;
}

.shopping-tab {
  display: flex;
  font-size: 1.6rem;
  line-height: 23px;
  font-weight: 800;
  color: rgba(8, 8, 8, 0.5);
}

.shopping-tab a {
  margin-left: 26px;
  position: relative;
}

.shopping-tab a:hover {
  text-decoration: underline;
}

.shopping-tab a::after {
  content: "";
  display: block;
  width: 1px;
  height: 15px;
  background-color: #d3d5d7;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -13px;
  transform: translate(50%, -50%) skew(-15deg);
}

.shopping-tab a:first-child {
  margin-left: 0;
}

.shopping-tab a:last-child::after {
  display: none;
}

.shopping-tab .active {
  color: #080808;
}

.simple-pager {
  display: flex;
  align-items: center;
}

.simple-pager .pager-nav {
  font-weight: bold;
  min-width: auto;
}

.pager-btn-group {
  display: flex;
}

.pager-btn-group .btn-pager {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(211, 213, 215, 0.8);
  position: relative;
}

.pager-btn-group .btn-pager:hover {
  background-color: #fbfbfc;
}

.pager-btn-group .btn-pager:hover::after {
  border-color: #2a2c2f !important;
}

.pager-btn-group .btn-pager:first-child {
  border-right: 0;
  border-radius: 4px 0 0 4px;
}

.pager-btn-group .btn-pager:first-child::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  transform: translate(-50%, -50%) rotate(45deg);
  margin-left: 2px;
  border-left: 2px solid #80868c;
  border-bottom: 2px solid #80868c;
  margin-left: 1px;
}

.pager-btn-group .btn-pager:last-child {
  border-radius: 0 4px 4px 0;
}

.pager-btn-group .btn-pager:last-child::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  transform: translate(-50%, -50%) rotate(45deg);
  margin-left: -2px;
  border-top: 2px solid #80868c;
  border-right: 2px solid #80868c;
  margin-left: -1px;
}

.contents .shopping-body {
  display: flex;
  padding: 0 20px;
  margin-bottom: 18px;
  flex-wrap: wrap;
}

.contents .shopping-body .left {
  width: 248px;
  margin-right: 20px;
}

.contents .shopping-body .right {
  flex: 1;
}

.contents .shopping-body .left .box {
  position: relative;
  padding: 9px 11px 4px;
  border-radius: 4px;
  background: rgba(245, 248, 251, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 12px;
}

.contents .shopping-body .left .box:last-child {
  margin-bottom: 0;
  padding: 0;
  border: 0;
  background: none;
}

.contents .shopping-body .left .platform-group a {
  color: #404040;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.6px;
}

.contents .shopping-body .left .platform-group .platform-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contents .shopping-body .left .platform-group .bullet-dot {
  width: 3px;
  height: 3px;
  background-color: #d3d5d7;
  display: inline-block;
  border-radius: 50%;
  vertical-align: top;
  margin: 0 5px;
}

.contents .shopping-body .left .shopping-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents .shopping-body .left .shopping-menu > a {
  flex: 1;
}

.contents .shopping-body .left .shopping-menu > a:hover {
  text-decoration: underline;
}

.contents .shopping-body .left .shopping-menu .menu-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  line-height: 32px;
  text-align: center;
  vertical-align: top;
  border: 1px solid rgba(238, 242, 248, 0.8);
  margin: 0 auto;
}

.contents .shopping-body .left .shopping-menu .menu-name {
  color: #404040;
  margin-top: 2px;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}

.contents .shopping-body .left .shopping-menu > a:nth-child(1) .menu-icon {
  display: block;
  background-image: url("../images/main_sp_2.png");
  background-size: 159px 137px;
  background-position: -34px 0;
  background-repeat: no-repeat;
}

.contents .shopping-body .left .shopping-menu > a:nth-child(2) .menu-icon {
  display: block;
  background-image: url("../images/main_sp_2.png");
  background-size: 159px 137px;
  background-position: -68px -34px;
  background-repeat: no-repeat;
}

.contents .shopping-body .left .shopping-menu > a:nth-child(3) .menu-icon {
  display: block;
  background-image: url("../images/main_sp_2.png");
  background-size: 159px 137px;
  background-position: -34px -34px;
  background-repeat: no-repeat;
}

.contents .shopping-body .left .shopping-menu > a:nth-child(4) .menu-icon {
  display: block;
  position: relative;
}

.contents
  .shopping-body
  .left
  .shopping-menu
  > a:nth-child(4)
  .menu-icon::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("../images/main_sp_2.png");
  background-size: 159px 137px;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  background-position: -19px -121px;
  width: 17px;
  height: 16px;
}

.contents .shopping-body .left .shop-banner {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}

.contents .shopping-body .left .shop-banner .inner-box {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  height: 146px;
  overflow: hidden;
}

.contents .shopping-body .left .shop-banner .inner-box img {
  transition: all 0.3s;
  height: 100%;
}

.contents .shopping-body .left .shop-banner .inner-box:hover img {
  transform: scale(1.1);
}

.contents .shopping-body .left .shop-banner p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 8px;
  font-size: 1.3rem;
  line-height: 19px;
  text-align: center;
}

.contents .shopping-body .left .shop-banner:hover p {
  text-decoration: underline;
}

.contents .shopping-body .right {
}

.contents .shopping-body .right .goods-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.contents .shopping-body .right .goods-row:last-child {
  margin-bottom: 0;
}

.contents .shopping-body .right .goods-item {
  width: 96px;
}

.contents .shopping-body .right .goods-thumbnail {
  height: 126px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.contents .shopping-body .right .goods-thumbnail img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.contents .shopping-body .right .goods-thumbnail:hover img {
  transform: scale(1.05);
}

.contents .shopping-body .right .goods-title a {
  display: block;
  padding-top: 8px;
  overflow: hidden;
  font-size: 1.3rem;
  line-height: 19px;
  letter-spacing: -0.4px;
}

.contents .shopping-body .right .goods-title:hover a {
  text-decoration: underline;
}

.contents .shopping-body .benefits-line {
  background-color: #f5f7f8;
  display: flex;
  width: 668px;
  padding: 15px 20px 14px;
  border-radius: 4px;
  box-sizing: border-box;
  line-height: 21px;
  font-weight: 700;
  flex: 1;
  margin-top: 18px;
}

.contents .shopping-body .benefits-line .benefits-line-label {
  position: relative;
  padding-right: 19px;
  flex-shrink: 0;
}

.contents .shopping-body .benefits-line .benefits-line-label::after {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 3px;
  height: 3px;
  background-color: #d3d5d7;
  border-radius: 50%;
}

.contents .shopping-body .benefits-line > a {
  display: flex;
  align-items: center;
}

.contents .shopping-body .benefits-line > a:hover {
  text-decoration: underline;
}

.contents .shopping-body .benefits-line .benefits-logo {
  height: 13px;
}

.contents .shopping-body .benefits-line .benefits-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #404040;
  font-weight: 500;
  margin-left: 8px;
  width: 600px;
}

.contents .shopping-body .benefits-line .benefits-text i {
  font-style: normal;
  color: #f65f04;
}

.shopping-footer .category-text {
  color: #f65f04;
}

/* footer */
footer {
  padding-bottom: 78px;
  border-top: 1px solid #ebebeb;
  background-color: #f5f6f7;
}

.footer-banners {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
}

.footer-banners .footer-banner-item {
  display: flex;
  width: 410px;
  height: 100px;
}

.footer-banners .footer-banner-item .footer-banner-thumbnail {
  width: 160px;
  height: 100px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  overflow: hidden;
  margin-right: 18px;
}

.footer-banners .footer-banner-item .footer-banner-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-banner-info .footer-banner-category {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 20px;
  max-width: 141px;
  padding: 0 6px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.25px;
  color: #fff;
  background-color: #a0adb2;
  vertical-align: top;
  margin-bottom: 10px;
}

.footer-banner-info .footer-banner-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: -0.25px;
  color: #222122;
  margin-bottom: 6px;
}

.footer-banner-info .footer-banner-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.25px;
  color: #545454;
}

.footer-banner-info:hover .footer-banner-title {
  text-decoration: underline;
}

.notice-area {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
  padding: 21px 0;
  line-height: 17px;
}

.notice-area a {
  color: #101010;
  font-size: 1.3rem;
  font-weight: bold;
}

.notice-area a:hover {
  text-decoration: underline;
}

.notice-area a:last-child::after {
  content: "";
  display: inline-block;
  background-image: url("../images/main_sp.png");
  background-size: 444px 434px;
  background-position: -323px -223px;
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
  margin: 2px 0 0 10px;
  vertical-align: top;
}

.aside-area {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #ebebeb;
}

.aside-area .partners-link {
  margin-bottom: 10px;
}

.aside-area .partners-link,
.aside-area .developers-link {
  display: flex;
  align-items: center;
}

.aside-area .developers-link {
}

.aside-area .link-subject {
  color: #101010;
  font-size: 1.3rem;
  font-weight: bold;
  width: 87px;
  margin-right: 9px;
}

.aside-area .link-list {
  display: flex;
}

.aside-area .link-item::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #d3d5d7;
  margin: 0 10px;
  vertical-align: -1px;
}

.aside-area .link-item:first-child::before {
  display: none;
}

.aside-area .link-item a {
  color: #404040;
  font-size: 1.3rem;
}

.aside-area .link-item a:hover {
  text-decoration: underline;
}

.aside-area .right {
  display: flex;
  gap: 30px;
}

.link-banner {
  display: flex;
}

.link-banner .link-banner-info {
  display: flex;
  flex-direction: column;
}

.link-banner .link-banner-info strong {
  padding-top: 5px;
  font-size: 1.3rem;
}

.link-banner .link-banner-info a {
  padding-top: 5px;
  color: #404040;
  font-size: 1.3rem;
}

.link-banner .link-banner-info a:hover {
  text-decoration: underline;
}

.link-banner .link-banner-logo {
  width: 48px;
  height: 48px;
  margin-left: 11px;
}

.corp-area {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.corp-area a {
  color: #404040;
  font-size: 1.3rem;
}

.corp-area a:hover {
  text-decoration: underline;
}

.corp-area ul {
  display: flex;
}

.corp-area ul a::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #d3d5d7;
  margin: 0 10px;
  vertical-align: -1px;
}

.corp-area ul li:first-child a::before {
  display: none;
}

.corp-area address a {
  color: #101010;
  font-style: normal;
  margin-left: 17px;
  font-weight: bold;
  font-size: 1.3rem;
}
