body {
  padding: 100px;
}

/* menu */
.menus {
  width: 300px;
}
.menus ul {
}
.menus ul li {
}

.menus ul li span {
  display: block;
  padding: 10px;
  background-color: lightgreen;
}

.menus ul li .accordian-list {
  display: none;
}

.menus ul li .accordian-list .accordian-item {
  padding: 20px;
  background-color: lightgray;
}
