/* 변수 설정 */
:root {
  --bg-color: #151516;
  --nav-color: #212226;
}

/* 전체 태그 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style-type: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 84px;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  padding-right: 48px;
  z-index: 1;
}

nav {
  position: fixed;
  top: 84px;
  left: 0;
  width: 240px;
  background: var(--nav-color);
  height: 1000px;
  padding: 0 8px;
  z-index: 1;
  /* padding: (상) (우) (하) (좌) */
  /* padding: (상하) (좌우) */
}

body {
  padding-top: 84px;
  padding-left: 240px;
  background: var(--bg-color);
}

header .logo {
  background-color: var(--nav-color);
  width: 240px;
  height: 84px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  line-height: 84px;
}

/* #444445 */
.search-area {
  flex: 1;
  /* (flex-grow / flex-shrink / flex-basis) */
  background: var(--bg-color);
  /* display flex 를 지정한 요소는 align-items (세로정렬) justify-content (가로정렬) 로 중앙 배치 할 수 있다. */
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-area .search-input {
  max-width: 640px;
  width: 100%;
  height: 44px;
  border-radius: 22px;
  border: 1px solid #444445;
  position: relative;
}

.search-area input {
  outline: none;
  background: var(--bg-color);
  color: white;
  padding: 10px 20px;
  padding-right: 80px;
  border: 0;
  width: 100%;
  height: 100%;
  border-radius: 22px;
}

.search-area button {
  position: absolute;
  top: 8px;
  right: 20px;
  border: 0;
  border: 1px solid #444445;
  background-color: black;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  padding: 4px 8px;
  width: 50px;
  border-radius: 4px;
  background: #19aaf0;
}

.gnb {
  background: var(--bg-color);
  width: 249px;
  height: 32px;
  color: #fff;
  border: 1px solid #fff;
}

/* 
    hover
    A (하위 메뉴가 보이지 않는다)
    (마우스를 올린다)
    B (하위 메뉴가 보인다)
*/

/* 
    1. 카테고리에 마우스를 올리면
        1-1. nav .category:hover
        1-2. nav .submenu {
         display : none;   
        }
    2. 하위메뉴가 보여진다
        2-1. nav .submenu {
         display : block;   
        }

    3. nav .category:hover .submenu {
        display: block;
    }
*/

nav > .category {
  background-color: red;
  border: none;
  color: white;
  width: 100%;
  height: 44px;
  border-radius: 6px;
  position: relative;
}

nav > .category:hover {
  background-color: blue;
}

/* 카테고리에 마우스를 올렸을때 하위메뉴는 펼쳐진다(보여진다) */
nav .category:hover .submenu {
  display: block;
}

nav .submenu {
  position: absolute;
  top: 0px;
  left: 100%;
  width: 200px;
  background-color: var(--nav-color);
  display: none;
}
nav .category > .submenu > li:hover {
  background-color: blue;
  color: red;
}

nav .category > .submenu > li {
  position: relative;
}
nav .category > .submenu > li > ul {
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  background-color: var(--nav-color);
  display: none;
}

/* 서브메뉴에 각각 아이템들에 hover 했을때 그 하위 ul이 보여진다. */
nav .category > .submenu > li:hover > ul {
  display: block;
}

.filter-list {
  display: flex;
  overflow-x: scroll;
  padding: 20px 72px;
}

/* 전체 배경색 -> #151516 */

/* 
    마진 상쇄 이론
    https://velog.io/@raram2/CSS-%EB%A7%88%EC%A7%84-%EC%83%81%EC%87%84Margin-collapsing-%EC%9B%90%EB%A6%AC-%EC%99%84%EB%B2%BD-%EC%9D%B4%ED%95%B4
*/

/* border -> #444445, radius-> 32px */
.filter-item {
  border: 1px solid #444445;
  border-radius: 32px;
  color: white;
  background-color: black;
  margin-right: 10px;
}

.filter-item > a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  padding: 4px 12px;
  white-space: nowrap;
}

.box-area .title {
  display: block;
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.box-area {
  padding: 0px 72px;
}

/* lecture-component 1단위 */
.lecture-component a {
  text-decoration: none;
}

.lecture-info {
  display: flex;
}

.lecture-component .lecture-thumbnail {
  width: 318px;
  height: 192px;
  border-radius: 10px;
}
.lecture-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}
.lecture-subject {
  font-size: 15px;
  color: white;
  margin-bottom: 5px;
}

.lecture-author {
  color: #7f7f7f;
  font-size: 13px;
  margin-bottom: 5px;
}
.lecture-price {
  font-weight: bold;
  margin-bottom: 5px;
}
.lecture-price .percent {
  color: red;
}
.lecture-price .price {
  color: white;
}

.lecture-rate {
  color: #a2a2a2;
  font-size: 13px;
}
.lecture-list {
  display: flex;
}

.lecture-list .lecture-item {
  margin-right: 10px;
}
.submenu > li > ul > li {
  color: white;
  padding: 5px;
}
.submenu > li {
  padding: 5px;
}

.button-area .btn {
  position: absolute;
  top: 96px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin-top: -27px;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.button-area .btn-left {
  left: -27px;
}

.button-area .btn-right {
  right: -27px;
}

.button-area {
  position: relative;
  width: 1630px;
}

.slide-area {
  overflow: hidden;
}

.button-area .btn-left:hover,
.button-area .btn-right:hover {
  background-color: gray;
}

.line {
  height: 1px;
  background-color: gray;
  margin: 40px 72px;
}

/* 추천 클래스 밑에 있는 강의 리스트 그룹만 margin-bottom: 40px 씩 */
/* bootstrap -> CSS 라이브러리 */
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.recommand-area .lecture-list {
  margin-bottom: 40px;
}

.category-link-list {
  display: flex;
  flex-wrap: wrap;
}

/* 
    6개씩 중간여백 5개 (20 * 5 = 100) 
    실제 빠져야 하는 여백 값 (100 / 6 = 16.66px)
*/
.category-link-item {
  width: calc(16.66% - 16.66px);
  height: 64px;
  background-color: #2c2d31;
  border-radius: 4px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.category-link-item:nth-child(6n) {
  margin-right: 0;
}

.category-link-item img {
  width: 18px;
  height: 18px;
  margin-right: 5px;

  /* margin: 5px; (상 우 하 좌) */
  /* margin-right: 5px; */
}
.category-link-item a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* hover -> #56575A */
.category-link-item:hover {
  background-color: #56575a;
}

.sns-link > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  margin-left: 16px;
}

/* 의사 클래스 -> https://developer.mozilla.org/ko/docs/Web/CSS/Pseudo-classes */
.sns-link > div:first-child {
  margin-left: 0;
}

.sns-link {
  display: flex;
}

footer {
  background-color: #000;
  padding: 48px 72px;
  font-size: 13px;
  color: #a2a2a2;
  display: flex;
}

footer a {
  font-size: 13px;
  color: #a2a2a2;
  text-decoration: none;
}

footer address {
  font-style: normal;
}

footer .left {
  width: 30%;
}

footer .right {
  width: 70%;
}

.right-row {
  display: flex;
}

.right-row .company,
.right-row .info {
  width: 50%;
}

.right-row .sns-link,
.right-row ul {
  width: 50%;
}

/* 미디어쿼리 990 - 767 */
@media screen and (max-width: 990px) {
  footer {
    display: block;
  }

  footer .left,
  footer .right {
    width: 100%;
  }

  .right-row .company,
  .right-row .info {
    width: 100%;
  }

  .right-row .sns-link,
  .right-row ul {
    width: 100%;
  }

  /* footer{
        flex-wrap: wrap;
    }
    footer .logo{
        width: 100%;
        flex: none;

    }ㅋ
    footer .company,
    footer .info{
        width: 50%;
        flex: none;
    } */
}
@media screen and (max-width: 767px) {
  .right-row {
    display: block;
  }
  nav {
    display: none;
  }
  body {
    padding-left: 0;
  }

  header {
    padding: 16px;
  }

  header .logo {
    display: none;
  }
  .gnb {
    display: none;
  }

  /* footer .info ,
    footer .company {
        width: 100%;
    } */
}

/* https://flexboxfroggy.com/#ko */
