@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, Roboto,
    "Segoe UI", sans-serif;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* sections */
section h2 {
  margin-bottom: 20px;
}

/* header */
header {
  display: flex;
  padding: 0 36px;
  height: 84px;
  background-color: #151516;
}

header .left-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 100%;
  background-color: #ddd;
}

header .right-side {
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
}

header .right-side .search-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #eee;
  height: 100%;
}

header .right-side .gnb {
  display: flex;
  align-items: center;
  background-color: #ccc;
  height: 100%;
}
